<ion-view title="About App" >
<ion-content class="has-header cream" >
  <div class="card">
     <div class="item item-divider">
    About Youth Connect
  </div>
  <div class="item item-text-wrap">
<h3>A Creation of Soul Hole Productions </h3> <br>
<p>In Partnership with:</p>
<p>•	The Healthy Transitions Initiative (HTI) of Jackson County </p>
<p>•	Northland Center for Advanced Professional Studies (CAPS)</p>
<p>•	Connect the Dottes for a Better KCK </p>
<p>•	Metro KC Youth Collaborative</p>
<p>•	Youth with Vision</p>
<p>•	Mid-America Regional Council (MARC)</p> <br>
<p>Graphics by Maha Ishtiaq at Technologies33</p>
<p>User Experience developed in Ionic by Katherine Martinez (kmartinezmedia@gmail.com)</p>
<p>This app is not intended to take the place of professional advice. It is for information purposes only and offers you suggestions on where to get started when you need help. Youth Connect is a reminder that you are not alone. There are people who care.
</p>
  </div>
</div>

</ion-content>
</ion-view>
