<ion-view title="Additional Numbers">
  <ion-content class="has-header">
    <ion-list>
      <ion-item nav-clear menu-close href="#/app/hotline1">
        <span><img src="img/phone.png" alt=""></span>Hotline #1
      </ion-item>
      <ion-item nav-clear menu-close href="#/app/hotline2">
        <span><img src="img/phone.png" alt=""></span>Hotline #2
      </ion-item>
      <ion-item nav-clear menu-close href="#/app/hotline3">
      <span><img src="img/phone.png" alt=""></span>Hotline #3
      </ion-item>
      <ion-item nav-clear menu-close href="#/app/textline1">
      <span><img src="img/phone.png" alt=""></span>Text Line #1
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
