<ion-view title="Additional Numbers">
<ion-content scroll="true" class="has-header">
    <div data-ng-repeat="(letter, providers) in sorted_providers" class="alpha_list">
      <ion-item class="item item-divider" id="index_{{letter}}">
        {{letter}}
      </ion-item>
      <ion-item ng-repeat="number in providers" href="tel:{{number.phone}}">
        {{number.name}}
      </ion-item>
    </div>
	</ion-content>
   <ul class="alpha_sidebar">
      <li ng-click="gotoList('index_{{letter}}')"ng-repeat="letter in alphabet">
          {{letter}}
      </li>
    </ul>
</ion-view>
