<ion-view title="Dashboard" hide-back-button="true" >
<ion-content class="has-header cream" >
<div class="row" padding="true">
  <div class="col">
    <div class="card padding" ng-click="goToResources()">
      <div class="home-circle resource"></div><p class="center">Resources</p></div>
    </div>
  <div class="col">
    <div class="card padding" ng-click="goToEguru()">
      <div class="home-circle eguru"></div><p class="center">eGuru</p></div>
    </div>
</div>
<div class="row">
  <div class="col">
    <div class="card padding" ng-click="goToCheat()">
      <div class="home-circle cheat"></div><p class="center">Cheat Codes</p></div>
    </div>
  <div class="col">
    <div class="card padding" ng-click="goToResources()">
      <div class="home-circle add"></div><p class="center">Add Resource</p></div>
    </div>
</div>
<div class="row">
  <div class="col">
    <div class="card padding" ng-click="goToInspiration()">
      <div class="home-circle inspiration"></div><p class="center">Inspiration</p></div>
    </div>
  <div class="col">
    <div class="card padding" ng-click="goToAbout()">
      <div class="home-circle about"></div><p class="center">About Me</p></div>
    </div>
</div>
  </ion-content>
</ion-view>
