<ion-view title="Dashboard" hide-back-button="true" >
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button menu-toggle="right"class="button button-icon icon ion-ios7-telephone"></button>
  </ion-nav-buttons>
  <div class="bar bar-header">
  <button class="button button-icon icon ion-navicon"></button>
  <h1 class="title">Youth Connect</h1>
  <button class="button button-icon icon ion-ios7-pulse-strong"></button>
</div>
<ion-content class="has-header">
<div class="row" padding="true">
  <div class="col">
    <div class="card padding" ng-click="goToResources()">
      <div class="home-circle"></div><p class="center">Resources</p></div>
    </div>
  <div class="col">
    <div class="card padding" ng-click="goToProfile()">
      <div class="home-circle"></div><p class="center">Profile</p></div>
    </div>
</div>
<div class="row">
  <div class="col">
    <div class="card padding" ng-click="goToEguru()">
      <div class="home-circle"></div><p class="center">eGuru</p></div>
    </div>
  <div class="col">
    <div class="card padding" ng-click="goToResources()">
      <div class="home-circle"></div><p class="center">Add Resource</p></div>
    </div>
</div>
  </ion-content>
</ion-view>
