<ion-view title="Ask a Counselor">
  <ion-nav-buttons side="right">
    <button menu-toggle="right"class="button button-icon icon ion-ios7-telephone"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
<p class="padding">Mercedem aut nummos unde unde extricat, amaras. Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Sed haec quis possit intrepidus aestimare tellus. Idque Caesaris facere voluntate liceret: sese habere. Hi omnes lingua, institutis, legibus inter se differunt. Curabitur est gravida et libero vitae dictum.
Hi omnes lingua, institutis, legibus inter se differunt. Quisque ut dolor gravida, placerat libero vel, euismod. Hi omnes lingua, institutis, legibus inter se differunt. Ullamco laboris nisi ut aliquid ex ea commodi consequat. Pellentesque habitant morbi tristique senectus et netus. Gallia est omnis divisa in partes tres, quarum.
A communi observantia non est recedendum. Quam temere in vitiis, legem sancimus haerentia. Mercedem aut nummos unde unde extricat, amaras. Gallia est omnis divisa in partes tres, quarum.
Qui ipsorum lingua Celtae, nostra Galli appellantur. Ambitioni dedisse scripsisse iudicaretur. Excepteur sint obcaecat cupiditat non proident culpa. Salutantibus vitae elit libero, a pharetra augue. Petierunt uti sibi concilium totius Galliae in diem certam indicere.</p>
  <button class="button button-full button-positive" ui-sref="app.scenarios">
"Like" a Scenario
</button>
<button class="button button-full button-balanced">
Ask a Question
</button>
  </ion-content>


</ion-view>
