<ion-view title="Other Situations" hide-back-button="false">
<div class="bar bar-header">
<button class="button button-icon icon ion-navicon"></button>
<h1 class="title">Other Situations</h1>
<button class="button button-icon icon ion-ios7-pulse-strong"></button>
</div>
        <ion-content class="padding">
          <ion-slide-box on-slide-changed="slideChanged($index)">
            <ion-slide show-pager="false" active-slide="activeSlide" ng-repeat="category in other">
              <div><span>{{category.title}}</span><br /><span>{{category.desc}}</span><img src="../img/categories/{{category.image}}.jpg" alt="" /></div>
            </ion-slide >
          </ion-slide-box>
        </ion-content>
</ion-view>
