<ion-side-menus>

  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
  <ion-nav-buttons side="left">

  </ion-nav-buttons>
    <ion-header-bar class="bar-positive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content class="has-header">
      <img class="avatar" src="{{auth.profile.picture}}"/>
      <h3 class="center">{{auth.profile.name}}</h3>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/dashboard">
          Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/read">
          Read
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/skills">
          Skils
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/scenarios">
          Scenarios
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/game">
          Game
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/inspiration">
          Inspiration
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/bookmarks">
          Bookmarks
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/notes">
          Notes
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/friends">
          Friends
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/profile">
          Profile
        </ion-item>
        <ion-item nav-clear menu-close ng-click=logout();>
          Logout
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
    <header class="bar bar-header bar-positive">
<h1 class="title">Press to Connect</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/hotline1">
          Hotline #1
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/hotline2">
          Hotline #2
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/hotline3">
        Hotline #3
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/textline1">
        Text Line #1
        </ion-item>
        <ion-item nav-clear menu-close>
        Additional Numbers
        </ion-item>
      </ion-list>

    </ion-content>
     <footer class="bar bar-footer bar-dark">
            <div class="title">Footer Menu</div>
          </footer>
  </ion-side-menu>
</ion-side-menus>
