<ion-view title="Resources" hide-back-button="false">
        <ion-content class="has-header resources beige">
          <div class="list">
            <a class="item item-text-wrap" ng-repeat="resource in resources" ng-click="{{resource.state}}">
              {{resource.name}}
              <p>{{resource.desc}}</p>
            </a>
          </div>
        </ion-content>
        <div class="bar bar-footer bar-dark" ui-sref="additional_numbers" ng-click="go('/additional_numbers')">
                  <div class="title">All Agencies</div>
                  <button class="button button-clear"><i class="ion-chevron-right"></i></button>
                </div>
</ion-view>
