
<ion-view title="{{resource.name}}" hide-back-button="false" >
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button menu-toggle="right"class="button button-icon icon ion-ios7-telephone"></button>
  </ion-nav-buttons>
          <ion-content has-header="true" has-subheader="true" padding="false" >
            <div class="button-bar">
              <a class="button" ng-repeat="subdomain in subdomains"ng-if="subdomain.resource_id === resource.id " ng-click="filterCategory(subdomain, $index)" ng-class="{active:currentSub===subdomain.id}">{{subdomain.name}}</a>
            </div>

<ion-slide-box class="slider">
  <ion-slide  ng-repeat="category in categories" ng-if="category.resource_id === resource.id && category.subdomain_id === currentSub"  ng-click="goToCategory(selected)" href="#/app/resource/{{resource.id}}/{{category.id}}" ng-init="init()" >
    <div class="slide-attributes"><span>{{category.name}}</span><img src="../img/{{category.image}}.png" alt=""></div>
  </ion-slide>
</ion-slide-box>

<div class="list card">

  <div class="item item-avatar">
    <img src="{{auth.profile.picture}}">
    <h2>{{r.name}}</h2>
    <p>{{r.address}}</p>
    <button class="button button-small button-balanced">
      {{r.phone}}
    </button>
    <div class=" item-text-wrap padding-top">
Plura mihi bona sunt, inclinet, amari petere vellent. Nec dubitamus multa iter quae et nos invenerat. Morbi fringilla convallis sapien, id pulvinar odio volutpat.
  </div>
  </div>

    <div class="item item-icon-left"><i class="icon button-small ion-clock"></i>Hours</div>
    <div class="item item-icon-left"><i class="icon button-small ion-map"></i>Directions</div>
    <div class="item item-icon-left"><i class="icon button-small ion-ios7-telephone"></i>Phone Number</div>
</div>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <div class="title">Alphabetical List of All</div>
    <i class="button button-clear ion-ios7-arrow-right"></i>
  </div>

</ion-view>
