<ion-nav-buttons side="left">
<button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
</button>
</ion-nav-buttons>
<ion-view title="Resources" hide-back-button="false">
        <ion-content class="has-header resources beige">
          <div class="list">
            <a class="item item-text-wrap" ng-repeat="resource in resources" ng-click="{{resource.state}}">
              {{resource.name}}
              <p>{{resource.desc}}</p>
            </a>
          </div>
        </ion-content>
</ion-view>
