
<ion-nav-buttons side="left">
<button class="button button-icon button-clear ion-chevron-left" ui-sref="resources">
</button>
</ion-nav-buttons>
<ion-tabs class="tabs-default tabs-top tabs-striped tabs-color-positive">

      <ion-tab title="Degrees"ui-sref="educational-tab.degrees">
        <ion-nav-view name="degrees-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Certifications" ui-sref="educational-tab.certifications">
        <ion-nav-view name="certifications-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Other" ui-sref="educational-tab.other">
        <ion-nav-view name="other-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
