<ion-tabs class="tabs-default tabs-top tabs-striped tabs-color-positive">

      <ion-tab title="Competitive Employment"ui-sref="employment-tab.competitive">
        <ion-nav-view name="competitive-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Work Experience" ui-sref="employment-tab.work">
        <ion-nav-view name="work-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Supported Employment" ui-sref="employment-tab.supported">
        <ion-nav-view name="supported-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Transitional Employment" ui-sref="employment-tab.transitional">
        <ion-nav-view name="transitional-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
