<ion-tabs class="tabs-default tabs-top tabs-striped tabs-color-positive">

      <ion-tab title="Interpersonal Relationships"ui-sref="personal_effectiveness.interpersonal_relationships">
        <ion-nav-view name="interpersonal_relationships-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Sel-Determination" ui-sref="personal_effectiveness.self_determination">
        <ion-nav-view name="self_determination-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Communication" ui-sref="personal_effectiveness.communication">
        <ion-nav-view name="communication-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Parenting" ui-sref="personal_effectiveness.parenting">
        <ion-nav-view name="parenting-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
