/* Empty. Add your own CSS if you like */
.slider {
height: 220px;
}

.slide-attributes{
background-repeat: no-repeat;
background-position: center 0;
height: 220px;
background-size: 100% auto;
}
.slide1{
background-image: url("../img/slide1.jpg");
}
.slide2{
background-image: url("../img/slide2.jpg");
}
.slide3{
background-image: url("../img/slide3.jpg");
}
.slide4{
background-image: url("../img/slide4.jpg");
}
#login{
  height:455px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.avatar {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin: 0 auto;
  text-align: center;
  display:block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}
.center{
  text-align: center;
}
.home-circle{
  width: 100px;
  height: 100px;
 -webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
    margin: 0 auto;
  text-align: center;
  display:block;
border: 3px solid #47A0DB;
background-image: url("../img/resources.svg");
background-repeat: no-repeat;
background-position: center center;
background-size: 50% 50%;

}
